@using Raisins.Client.ViewModels
@model RoleEditViewModel
@{
    ViewBag.Title = "Edit Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @using (Html.BeginForm("EditRole", "Roles"))
    {
        <div class="row">
            <h3>Edit Role</h3>
            <hr />
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.RoleID)
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Permissions, new { @class = "col-md-2 control-label" })
                <div>
                    @Html.TextAreaFor(m => m.Permissions, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-3">
                <div class="form-group">
                    <button type="submit" class="btn btn-default pull-right">Save</button>
                </div>
            </div>
        </div>
    }
    <br/>
    <div class="row">
        <div class="col-md-2 col-md-offset-3">
            <div class="pull-right">
                @Html.ActionLink("Back to List", "ViewRoleList", "Roles")
            </div>
        </div>
    </div>
</div>


