@model Raisins.Client.Web.Models.Currency

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Currency</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CurrencyCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CurrencyCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ratio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ratio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExchangeRate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExchangeRate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
