@model Raisins.Client.Web.Models.Currency

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Currency</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.CurrencyCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CurrencyCode)
            @Html.ValidationMessageFor(model => model.CurrencyCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ratio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ratio)
            @Html.ValidationMessageFor(model => model.Ratio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExchangeRate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExchangeRate)
            @Html.ValidationMessageFor(model => model.ExchangeRate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
