@model IEnumerable<Raisins.Client.Web.Models.BeneficiaryModel>

@{
	View.Title = "Current Tally";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

	<h1>@View.Title</h1>

	@foreach(var item in Model)
	{
		<div>
			@item.Name<br>
			@item.Description<br>
			Total Votes: @item.Detail.Votes<br>
			Amount Earned: @item.Detail.TotalAmount
		</div>
	}