@model Raisins.Client.Web.Models.BeneficiaryModel

@{
	View.Title = "Current Tally";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
	<h1>@View.Title</h1>
	
	<div>
	<ul>
		<li><a href="Payment/Create">Enter Payment Information</a></li>
		<li><a href="Payment">Payment Management</a></li>
	</ul>
	
	</div>
		
	<div class="beneficiary">
	    <h2>@Model.Name</h2>
		<p class="subtitle">@Model.Description</p>
		<p class="votes">Total Votes: @Model.Detail.Votes</p>
		<p class="amount">Amount Earned: @string.Format("{0:0.00}", Model.Detail.TotalAmount)</p>
	</div>
	
