@model IEnumerable<Raisins.Client.Web.Models.Beneficiary>
@{
    ViewBag.Title = "Index";
}

<div id="status">
    <div id="posted"><span>@ViewBag.Posted</span></div>
    <div id="total"><span>@ViewBag.Total</span></div>
    <div id="target"><span>@ViewBag.Target</span></div>
</div>

<div id="maincontentarea">
    <div class="event-title"><span>JAM FOR HUNGRY MINDS</span></div>
    <div id="rightcontentarea">
        <span id="timer" time="1355216400"></span>
        <div id="newscontainer">
            <h2>News</h2>
            <div class="newscontents">
                <a href="">News Title 1</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus vehicula velit, ut viverra risus imperdiet non. Ut in urna eget arcu viverra bibendum. Nam cursus laoreet sollicitudin. Etiam vel purus mauris, vitae auctor tellus.</p>
            </div>
            <div class="newscontents">
                <a href="">News Title 2</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus vehicula velit, ut viverra risus imperdiet non. Ut in urna eget arcu viverra bibendum. Nam cursus laoreet sollicitudin. Etiam vel purus mauris, vitae auctor tellus.</p>
            </div>
            <div class="newscontents">
                <a href="">News Title 3</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus vehicula velit, ut viverra risus imperdiet non. Ut in urna eget arcu viverra bibendum. Nam cursus laoreet sollicitudin. Etiam vel purus mauris, vitae auctor tellus.</p>
            </div>
        </div>
    </div>
</div>

<div style="clear:both;" id="teamscontainer">
    <ul id="teamscontent">
        @foreach(var beneficiary in Model)
        {
        <li>
            <a href="@Url.Action("Details", "Beneficiaries", new RouteValueDictionary(new { beneficiary.ID }))">
                <img src="@Url.Content("~/Content/Images/photo" + beneficiary.ID + ".jpg")" />
                <h4><span>@beneficiary.Name</span></h4>
            </a>
         </li>
        }
    </ul>
</div>
<div id="links">
    <a href="http://foodforhungryminds.org/">
        <img src="~/Content/Images/fhms.JPG" />
    </a>
    <a href="https://www.facebook.com/foodforhungryminds">
        <img src="~/Content/Images/facebook.JPG" />
    </a>
</div>