@model IEnumerable<Raisins.Client.Web.Models.Summary>
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_PaymentPartial.cshtml";
}
<div id="report">
    <h1>
        Collection Reports</h1>
    <div class="report-summary">
        <b>
        Total Cash Remitted (PHP): @ViewBag.TotalRemittedInLocal<br />
        Total Cash Remitted (USD): @ViewBag.TotalRemittedInGlobal<br />
        </b>

        Total Cash (PHP): @ViewBag.TotalCashInLocal<br />
        Total Cash (USD): @ViewBag.TotalCashInGlobal<br />
    </div>
    @foreach (var item in Model)
    {
        <div class="report-team">
            <h2>@item.Beneficiary.Name (@item.TotalVotes Votes)</h2>
            <b>Total Cash Remitted (PHP): @Html.DisplayFor(modelItem => item.TotalRemittedInLocal)<br />
                Total Cash Remitted (USD): @Html.DisplayFor(modelItem => item.TotalRemittedInGlobal)<br />
            </b>
            <br />
            Total Cash (PHP): @Html.DisplayFor(modelItem => item.TotalCashInLocal)<br />
            Total Cash (USD): @Html.DisplayFor(modelItem => item.TotalCashInGlobal)<br />
            <br />
        </div>
    }
    @Html.ActionLink("Back to main page.", "Index")
</div>
