@model Raisins.Client.Web.Models.PaymentModel

@{
	View.Title = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";

    var Beneficiaries = ViewHelper.Beneficiaries;
    var ClassOptions = ViewHelper.ClassOptions;
}

<h2>Create</h2>
<hr />


	@using (Html.BeginForm("Create", "Payment", FormMethod.Post, new { id = "myRaisinsForm" }))
 {
		@Html.ValidationSummary(true);
     
        <div class="forms">

            <p>
                @Html.LabelFor(model => model.Class)
                @Html.DropDownListFor(model => model.Class, new SelectList(ClassOptions, "Name", "Name"))
                @Html.ValidationMessageFor(model => model.Class)
            </p>
            <p>
                @Html.LabelFor(model => model.Beneficiary)
                @Html.DropDownListFor(model => model.Beneficiary, new SelectList(Beneficiaries, "Name", "Name"))
                @Html.ValidationMessageFor(model => model.Beneficiary)
            </p>
            <p>
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </p>
            <p>
                @Html.LabelFor(model => model.Amount)
                @Html.EditorFor(model => model.Amount)

                @string.Format("({0})", Model.Currency)
                @Html.HiddenFor(model => model.Currency) 

                @Html.ValidationMessageFor(model => model.Amount)

            </p>
            <p>
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </p>
            <p>
                @Html.LabelFor(model => model.Remarks)
                @Html.TextAreaFor(model => model.Remarks) 
                @Html.ValidationMessageFor(model => model.Remarks)
            </p>
            <p class="submit">
                <input type="submit" value="Save" /> | or @Html.ActionLink("Show List", "Index")
            </p>
        </div>
	}

    