@model Raisins.Client.Web.Models.PaymentModel

@{
    View.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
        
        <fieldset>
            <legend>Modify the Payment Details</legend>

			<div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Amount) 
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Amount)
				<label>@Model.Currency.CurrencyCode</label>
                @Html.ValidationMessageFor(model => model.Amount)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            @if (Model.Class.ToString().CompareTo("NotSpecified") == 0)
            {
                <div class="editor-field">
                    @Html.EditorFor(model => model.Amount)
				    <label>@Model.Currency.CurrencyCode</label>
                    @Html.ValidationMessageFor(model => model.Amount)
                </div>
            }
            
			<p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>

    }

    <div>
        @Html.ActionLink("Back to List", "Create")
    </div>


