@model Raisins.Client.Web.Models.PaymentModel

@{
    View.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var Beneficiaries = ViewHelper.Beneficiaries;
}

<h2>Edit - @Html.Label(Model.Class.ToString())</h2>
<hr />


	@using (Html.BeginForm("Edit", "Payment", FormMethod.Post, new { id = "myRaisinsForm" } )) {
		@Html.ValidationSummary(true)

     
     
        <div class="forms">

            @Html.HiddenFor(model => model.Class)
            <p>
                @Html.LabelFor(model => model.Beneficiary)
                @Html.DropDownListFor(model => model.Beneficiary, new SelectList(Beneficiaries, "Name", "Name"))
                @Html.ValidationMessageFor(model => model.Beneficiary)
            </p>
            <p>
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </p>
            <p>
                @Html.LabelFor(model => model.Amount)
                @Html.EditorFor(model => model.Amount)

                @string.Format("({0})", Model.Currency)
                @Html.HiddenFor(model => model.Currency)

                @Html.ValidationMessageFor(model => model.Amount)

            </p>
            <p>
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </p>
            <p class="submit">
                <input type="submit" value="Save" /> | or @Html.ActionLink("Show List", "Index")
            </p>
        </div>
	}