@model IEnumerable<Raisins.Client.Web.Models.Payment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var RoleType = ViewHelper.RoleType;
    decimal CashOnHand = (decimal)ViewData["CashOnHand"];
}
<h2>Payment List</h2>
    <hr />
    <br />
    <span class="cashonhand">Cash on hand: @CashOnHand.ToString("0.00") PHP</span>

    @*@if (RoleType == Raisins.Services.RoleType.User)*@
    @if(true)
    {
        @Html.ActionLink("Create New", "Create")
    }
    else
    {
        <span>@Html.ActionLink("Lock Local", "LockLocal") | or @Html.ActionLink("Lock Internal International", "LockExternalUS") | or @Html.ActionLink("Lock All", "LockAll")</span>
        <span class="right">Filter By: @Html.ActionLink("All", "Index") | @Html.ActionLink("Not Locked", "Index", new { Locked = false }) | @Html.ActionLink("Locked", "Index", new { Locked = true })</span>
    }

	<div id="payments">
    @foreach (var item in Model)
    { 
        <div class="item">
        <span class="beneficiary">
            @item.Beneficiary - @item.Class.ToString():
        </span>
        <span class="name">
            @item.Name
        </span>
        <span class="amount">
            @string.Format("{0} ({1})", item.Amount.ToString("0.00"), item.Currency)
        </span>
        
        @*@if (!item.Locked && RoleType != Raisins.Services.RoleType.Auditor)*@
        @if (true)
        { 
        <br />
        @Html.ActionLink("[Del]", "Delete", new { id = item.ID })
        @Html.ActionLink("[Edit]", "Edit", new { id = item.ID })
        }
        else if (item.Locked)
        {
        <br />
        @Html.ActionLink("[Tickets]", "Show", "Ticket", new { id = item.ID }, null)
        }
        </div>
    }
    </div>