@model IEnumerable<Raisins.Client.Web.Models.Payment>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Payment List</h2>
	<hr />
	<br />
	<span class="cashonhand">Cash on hand: @ViewBag.CashOnHand.ToString("0.00") PHP</span>

	@if (ViewBag.RoleTypeIsUser)
	{
		@Html.ActionLink("Create New", "Create")
	}
	else
	{
		<span>@Html.ActionLink("Lock Local", "LockLocal") | or @Html.ActionLink("Lock Internal International", "LockExternalUS") | or @Html.ActionLink("Lock All", "LockAll")</span>
		<span class="right">Filter By: @Html.ActionLink("All", "Index") | @Html.ActionLink("Not Locked", "Index", new { Locked = false }) | @Html.ActionLink("Locked", "Index", new { Locked = true })</span>
	}

	<div id="payments">
	@foreach (var item in Model)
	{ 
		<div class="item">
		<span class="beneficiary">
			@item.Beneficiary.Name - @((Raisins.Client.Web.Models.PaymentClass)item.Class):
		</span>
		<span class="name">
			@item.Name
		</span>
		<span class="amount">
			@string.Format("{0} ({1})", item.Amount.ToString("0.00"), item.Currency.CurrencyCode)
		</span>
		
		@if (ViewBag.RoleTypeIsUser)
		{ 
		<br />
		@Html.ActionLink("[Del]", "Delete", new { id = item.PaymentID })
		@Html.ActionLink("[Edit]", "Edit", new { id = item.PaymentID })
		}
		else if (item.Locked)
		{
		<br />
		@Html.ActionLink("[Tickets]", "Show", "Ticket", new { id = item.PaymentID }, null)
		}
		</div>
	}
	</div>