@model IEnumerable<Raisins.Client.Web.Models.PaymentModel>

@{
	View.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

	<h2>Payment List</h2>
    <hr />
    <br />
    @Html.ActionLink("Create new", "Create")
	<div id="payments">
    @foreach (var item in Model)
    { 
        <div class="item">
        <span class="beneficiary">
            @item.Beneficiary - @item.Class.ToString()
        </span>
        <span class="name">
            @item.Name
        </span>
        <span class="amount">
            @string.Format("{0} ({1})", item.Amount.ToString("0.00"), item.Currency)
        </span>
        <br />
        @Html.ActionLink("[Del]", "Delete", new { id = item.ID })
        @Html.ActionLink("[Edit]", "Edit", new { id = item.ID })
        </div>
    }
    </div>


