@model Raisins.Client.Web.Models.Payment

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>New Payment</legend>

        <p>
            Team Name<br />
            @Html.DropDownList("BeneficiaryID")<br />
            or select who would you like to perform... <br />
            @Html.DropDownList("ExecutiveID")
        </p>
        <p>
            @Html.LabelFor(model => model.Name)<br />
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)<br />
            @Html.LabelFor(model => model.Location)<br />
            @Html.EditorFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)<br />
            @Html.LabelFor(model => model.Email)<br />
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)<br />
        </p>

        <p>
            @Html.LabelFor(model => model.Amount)<br />
            @Html.DropDownList("CurrencyID")
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </p>
        <p>
            @Html.LabelFor(model => model.Remarks)<br />
            @Html.TextAreaFor(model => model.Remarks)
            @Html.ValidationMessageFor(model => model.Remarks)
        </p>

    </fieldset>

    <p>
        @Html.DropDownList("ClassID")<input type="submit" value="Create" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
