@model Raisins.Client.Web.Models.Payment

@{
    ViewBag.Title = "Details";
}

<fieldset id="payments">
    <legend></legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
         <div class="display-field">
        @Html.DisplayFor(model => model.SoldBy)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Remarks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Remarks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Beneficiary.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Beneficiary.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Currency.CurrencyCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Currency.CurrencyCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedBy.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedBy.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuditedBy.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuditedBy.UserName)
    </div>

    
    <div class="display-field">
        
    </div>
    <div class="display-label">
         @Html.DisplayFor(model => model.Locked)
        @Html.DisplayNameFor(model => model.Locked)
    </div>

   
</fieldset>

@using (Html.BeginForm())
{ 
    @Html.ValidationSummary(true)
    
    <fieldset id="payments-email">
    <legend></legend>

    <div class="display-label">
        Payment is already locked. Do you wish to change Email Address?
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Email)<input type="submit" value="Update"  class="btn" />
        @Html.ValidationMessageFor(model => model.Email)<br />
    </div>
    </fieldset>
}

<p style="color:white">
    
    @Html.ActionLink("Back to List", "Index")
   
</p>
