@model IEnumerable<Raisins.Client.Web.Models.Payment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Locked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beneficiary.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency.CurrencyCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuditedBy.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Locked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beneficiary.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency.CurrencyCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuditedBy.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>


<div id="payments"></div>
<script type="text/javascript" language="javascript">
//        listPayments(function (payments) {
//            var strPayments="";
//            $.each(payments, function (index, payment) {
//                strPayments += "<div>" + payment.Title + "</div>";
//            });
//            $("#payments").html(strPayments);
// 
//        });
// 
//        function listPayments(callback) {
//            $.ajax({
//                url: "/api/PaymentsAPI",
//                data: {},
//                type: "GET",
//                contentType: "application/json;charset=utf-8",
//            }).then(function(payments){
//                callback(payments);
//            });
//        }
</script>
