@model IEnumerable<Raisins.Client.Web.Models.Payment>
<!-- Convert the model object to PaymentViewModel -->
@{
    ViewBag.Title = "Index";
}
<br /><br />
<ul id="payment-menu">
    @if (ViewBag.CanEdit)
    {
        <li>@Html.ActionLink("CREATE NEW", "Create")</li>
    }
    @if (ViewBag.CanLock)
    {
        <li>
            <a href="#"
               class="js-lock-payment"
               id="lock-all"
               data-dialogid="#lock-all-dialog">
                Lock All
            </a>
        </li>
        <li>
            <a href="#"
               class="js-lock-payment"
               id="lock-local"
               data-dialogid="#lock-local-dialog">
                Lock Local
            </a>
        </li>
        <li>
            <a href="#"
               class="js-lock-payment"
               id="lock-external"
               data-dialogid="#lock-external-dialog">
                Lock External
            </a>
        </li>
        <li>
            <a href="#"
               class="js-lock-payment"
               id="lock-foreign"
               data-dialogid="#lock-foreign-dialog">
                Lock Foreign
            </a>
        </li>
    }
</ul>
<table id="payment-grid">
    <thead>
        <tr>
            <th class="controls"></th>
            <th class="beneficiary">@Html.ActionLink("Group Voted", "Index", new { SortBy="Beneficiary" })</th>
            <th class="class">@Html.ActionLink("Class", "Index", new { SortBy="Class" })</th>
            <th class="name">@Html.ActionLink("Name", "Index", new { SortBy="Name" })</th>
            <th class="currency">@Html.ActionLink("Currency", "Index", new { SortBy="Currency" })</th>
            <th class="amount">Actual Amount</th>
            <th class="votes">Votes</th>
            <th class="total">Converted Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in Model)
        { 
            <tr class="tablerows">
                <td class="controls">
                    <ul>
                        @if(!payment.Locked)
                        {
                            if(ViewBag.CanEdit)
                            {
                                <li>@Html.ActionLink("Edit", "Edit", new { ID = payment.ID }) </li>
                                <li>@Html.ActionLink("Delete", "Delete", new { ID = payment.ID })</li>
                            }
                        }
                        else
                        {
                            <li>@Html.ActionLink("Details", "Details", new { ID = payment.ID })</li>
                            <li>@Html.ActionLink("Email", "Email", new { ID = payment.ID })</li>
                        }
                    </ul>
                </td>
                <td class="beneficiary">@Html.DisplayFor(model => payment.Beneficiary.Name)</td>
                <td class="class">@((PaymentClass)payment.ClassID)</td>
                <td class="name">@Html.DisplayFor(model => payment.Name)</td>
                <td class="currency">@Html.DisplayFor(model => payment.Currency.CurrencyCode)</td>
                <td class="amount">@Html.DisplayFor(model => payment.Amount)</td>
                <td class="votes">@payment.ConvertPaymentAmountToVotes()</td>

                   <td class="total">@((payment.Amount * payment.Currency.ExchangeRate).ToString("0.00"))
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="lock-all-dialog" class="hide" title="Lock All?">
    <span>Locking payments cannot be reversed. Are you sure you want to continue?</span>
</div>

<div id="lock-local-dialog" class="hide" title="Lock Local?">
    <span>Locking payments cannot be reversed. Are you sure you want to continue?</span>
</div>

<div id="lock-external-dialog" class="hide" title="Lock External?">
    <span>Locking payments cannot be reversed. Are you sure you want to continue?</span>
</div>

<div id="lock-foreign-dialog" class="hide" title="Lock Foreign?">
    <span>Locking payments cannot be reversed. Are you sure you want to continue?</span>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {

            $(".js-lock-payment").click(function () {
                var lockDialogSelector = $(this).data("dialogid");
                $(lockDialogSelector).dialog("open");
                return false;
            });

            $("#lock-all-dialog").dialog({
                autoOpen: false,
                resizable: false,
                height: 200,
                modal: true,
                buttons: {
                    "Yes": function () {
                        window.location.href = "@Url.Action("Lock", new { paymentClassId = -1 })";
                        $(this).dialog("close");
                    },
                    "No": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $("#lock-local-dialog").dialog({
                autoOpen: false,
                resizable: false,
                height: 200,
                modal: true,
                buttons: {
                    "Yes": function () {
                        window.location.href = "@Url.Action("Lock", new { paymentClassId = (int)PaymentClass.Local })";
                        $(this).dialog("close");
                    },
                    "No": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $("#lock-external-dialog").dialog({
                autoOpen: false,
                resizable: false,
                height: 200,
                modal: true,
                buttons: {
                    "Yes": function () {
                        window.location.href = "@Url.Action("Lock", new { paymentClassId = (int)PaymentClass.External })";
                        $(this).dialog("close");
                    },
                    "No": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $("#lock-foreign-dialog").dialog({
                autoOpen: false,
                resizable: false,
                height: 200,
                modal: true,
                buttons: {
                    "Yes": function () {
                        window.location.href = "@Url.Action("Lock", new { paymentClassId = (int)PaymentClass.Foreign })";
                        $(this).dialog("close");
                    },
                    "No": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    </script>
}
