<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title - Raisins 2012</title>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        @Styles.Render("~/Content/css")
    </head>
    <body>
        <h1 class="app-logo">raisins <span>2012</span></h1>
        <h6 class="app-logo">a fund-raising event.</h6>
        <hr />
        <ul id="navigation">
            <li><a href="#">Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Payments</a></li>
            <li><a href="#">Mechanics</a></li>
        </ul>

        @Html.Partial("_LoginPartial")
        
        @RenderBody()
        @RenderSection("scripts", required: false)
    </body>
</html>