<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title - Raisins 2013</title>
        @*<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>*@


        <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>


        @RenderSection("prescripts", required:false)

        @Scripts.Render("~/scripts/knockout")
        @Scripts.Render("~/scripts/jquery")
        @Scripts.Render("~/scripts/raisins")
        @Styles.Render("~/content/css")

        <script src="http://releases.flowplayer.org/5.1.1/flowplayer.min.js"></script>
        <link rel="stylesheet" type="text/css" href="http://releases.flowplayer.org/5.1.1/skin/minimalist.css" />
        <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
   @*     <link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    
    </head>
    <body >
       
        <div id="raisins"><h1 class="app-logo">raisins <span>2013</span></h1></div>
        <h6 class="app-logo">a fund-raising event.</h6>
        <hr />
        <div id="topcontainer">
        <ul id="navigation">
            <li><a href="@Url.Action("Index", "Home")">HOME</a></li>
           
            @if(Request.IsAuthenticated)
            {
            
                <li><a href="@Url.Action("Dashboard", "Home")">DASHBOARD</a></li>
           
                 <li><a href="@Url.Action("Index", "Payments")">PAYMENTS</a></li>
            }
            <li><a href="@Url.Action("Mechanics", "Home")">MECHANICS</a></li>
        </ul>
            
        @Html.Partial("_LoginPartial") 
                 
        </div>
        <br /> <br /> <br />

        @RenderBody()
        @RenderSection("scripts", required: false)
  
    </body>
</html>

