@using Raisins.Client.Web.Models;

<ul>
    @if (Request.IsAuthenticated)
    {
        <li>Welcome <b>@Context.User.Identity.Name</b>! [ @Html.ActionLink("Log Off", "Logout", "Account")]</li>
        <li>@Html.ActionLink("Payments", "Index", "Payment")</li>
        <li>@Html.ActionLink("Summary", "Reports", "Home")</li>
        <li>@Html.ActionLink("Mechanics", "Pages", "Home", new { template = "rs_mechanics" }, null)</li>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
    }
    else
    {
        <li>[ @Html.ActionLink("Log On", "Login", "Account") ]</li>
        <li>@Html.ActionLink("Mechanics", "Pages", "Home", new { template = "rs_mechanics" }, null)</li>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
    }
</ul>
