<ul>
<li>
<img src="@Url.Content("~/Content/team1.jpg")" alt="Adarnauts" /> <h3><a href="@Url.Content("~/home/team?template=adarnauts")">Adarnauts</a></h3><p>Airline Ops (Dev/PM) - Revenue Acctg</p>
</li>
<li>
<img src="@Url.Content("~/Content/team2.jpg")" /> <h3><a href="@Url.Content("~/home/team?template=rez-naissance")">Rez-naissance</a></h3><p>Reservations Dev</p>
</li>
<li>
<img src="@Url.Content("~/Content/team3.jpg")" /> <h3><a href="@Url.Content("~/home/team?template=modern-royalties")">Modern Royalties</a></h3><p>Shared Services - BPO - TS</p>
</li>
<li>
<img src="@Url.Content("~/Content/team4.jpg")" /> <h3><a href="@Url.Content("~/home/team?template=qa-pop")">QA Pop</a></h3><p>AirlineOps QA, ResQA and RevQA</p>
</li>
<li>
<img src="@Url.Content("~/Content/team5.jpg")" /> <h3><a href="@Url.Content("~/home/team?template=team-v")">Team V</a></h3><p>Product, SkyPrice Dev/QA, TC, Loyalty, Disney, SkyLedger QA</p>
</li>
<li class="bottom">
<h3>Support your team. <br /><br />All proceeds will go to the HMS Highschool Scholarship Fund.</h3>
</li>
</ul>