@model Raisins.Client.Web.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>CHANGE PASSWORD</legend>
        <br />
        <p>New Password<br />@Html.EditorFor(model => model.NewPassword) @Html.ValidationMessageFor(model => model.NewPassword)</p>
        <p>Confirm Password<br />@Html.EditorFor(model => model.ConfirmPassword) @Html.ValidationMessageFor(model => model.ConfirmPassword)</p>

        <p>
            <input type="submit" value="CHANGE" />
        </p>
    </fieldset>
}
