@using Raisins.Client.ViewModels
@model UploadPaymentViewModel
@{
    ViewBag.Title = "Import Payments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>    
    <div class="row">
        <h3>Import Payments</h3>

        <br />
        @if (TempData["message"]== "Successfully uploaded!")
        {
            <h4 style="color:green">@TempData["message"]</h4>
        }
        else
        {
            <h4 style="color:red">@Html.Raw(@TempData["message"])</h4>
        }
        @if (TempData["message2"] == "Invalid File Content! Ignoring cases")
        {
        <h4 style="color:red">@Html.Raw(@TempData["message2"])</h4>
        <div style="height:200px;width:500px;overflow:auto;scrollbar-base-color:gold;font-family:sans-serif;font-size:10px;border-style:ridge;border-width: 3px;padding:10px;">
            @Html.Raw(@TempData["ContentError"])
        </div>
        }
        <br />
        <br />
        @using (Html.BeginForm("ImportPayments", "Payments", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.ModifiedBy, new { @Value = @HttpContext.Current.Session["user"].ToString() })
            @Html.HiddenFor(m => m.CreatedDate, new { @Value = DateTime.Now })
            @Html.HiddenFor(m => m.CreatedBy, new { @Value = @HttpContext.Current.Session["user"].ToString() })
            <div style="height:100px;width:200px;border-style:solid;border-width:2px;border-radius: 5px;">
                <div class="form-group" style="padding:5px;">
                    <input type="file" id="dataFile" name="upload" />
                </div>
                <div class="form-group" style="padding:5px;">
                    <button type="submit" class="btn btn-default">Upload</button>
                </div>
            </div>
        }

    </div>
</div>
