@using Raisins.Client.ViewModels
@using Raisins.Client.Models
@using System.Linq;
@using System.Collections;

@model PublishAllViewModel

@{
    ViewBag.Title = "List of Payments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    var distinct = Model.Payments.Distinct();
    var payments = Model.Payments;
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<div>
    <div>
        <div class="row">
            <h3 style="float: left">List of Payments</h3>
            <br />
        </div>
        <div class="row" >
            <div class="col-xs-4">
                @Html.LabelFor(m => m.Beneficiary, "Beneficiary")
            </div>
            <div class="col-xs-4">
                @Html.DropDownListFor(m => m.SelectedBeneficiary,
                 Model.UniqueBeneficiaries,
                 "All Beneficiary",
                 new { @class = "form-control", @id = "selected", @onchange = "showBeneficiaryPayment()" })
            </div>
            <div class="col-xs-4">
                @using (Html.BeginForm("PublishAllPayments", "Publish", Model.Payments, FormMethod.Post))
                {
                    <button class="btn btn-default">Publish All</button>
                }
            </div>
            <div class="col-xs-4">
                @using (Html.BeginForm("Export", "Payments", FormMethod.Get))
                {
                    <button id="exportButton" type="submit" style="float:right" class="btn btn-default fa fa-file-excel-o">Export</button>
                }
            </div>
        </div>
    </div>

    @{
        string modifiedBy = HttpContext.Current.Session["user"].ToString();
    }

    <div class="row">
        <hr \>
        <b>Total:</b> ₱ @Html.DisplayFor(viewModel => Model.Total)
    </div>
    Total Tickets: @Model.TotalTickets
    <div class="row" id="paymentsTable">
        @using (Html.BeginForm("PublishPayment", "Payments", FormMethod.Get))
        {
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                            Donor's Name
                        </th>
                        <th>
                            Beneficiary
                        </th>
                        <th>
                            Currency
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Tickets
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Source
                        </th>
                        <th>
                            Opt Out
                        </th>
                        <th>
                            Remarks
                        </th>
                        <th>
                            Tools
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SelectedPayment())
                    {
                        <tr>
                            @Html.HiddenFor(modelItem => item)
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Beneficiary.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Currency.CurrencyCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tickets)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Source.Source)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OptOut)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Remarks)
                            </td>
                            <td>
                                @if (!item.Locked)
                                {
                                    @Html.ActionLink("Edit", "EditPayment", "Payments", new { paymentID = item.PaymentID }, null)
                                    <span> | </span>
                                    @Html.ActionLink("Publish", "PublishPayment", "Payments", new { paymentID = item.PaymentID, modifiedBy }, null)
                                }
                                else
                                {
                                    <span class="text-danger">Locked</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

    <hr /><span class="h4">Template: </span>
    @Html.ActionLink("Download", "ExportTemplate")
    <i class="fa fa-file-excel-o" aria-hidden="true"></i>

</div>

<script>
    function publish(id) {
        $.ajax({
            type: "POST",
            url: "/Payments/PublishPayment?paymentID=" + id,
            dataType: 'json',
            success: function (data) {
                alert("goods");
                window.location.href = data;
            },
            error: function (response) {
                alert(id);
                console.log(response);
            }
        });
    }

    var showBeneficiaryPayment = function () {
        var selected = $("#selected option:selected").val();

        var url = "ViewPaymentListByBeneficiary3?beneficiarySelected=" + selected;

        //window.history.pushState(null, 'List of Payments', url)
        location.reload(window.history.pushState(null, 'List of Payments', url));

        //$('#divPartial').load(url);
        //$('#paymentsTable').hide();

        //$("#paymentsTable").load(url)

        //$.ajax({
        //    type: "POST",
        //    url: "ViewPaymentListByBeneficiary3",
        //    data: { beneficiarySelected: selected },
        //    success: function (response) {
        //        $("#myModalBodyDiv").html(response);
        //        $("#myModal").modal("show");
        //    }
        //})
    }

</script>

<script type="text/javascript">
    $(document).ready(function () {
        var selected = $("#selected option:selected").val();
        if (selected == "") {
            $("#exportButton").hide();
        }
    });

    function test() {
        var selected = $("#selected option:selected").val();
        alert(selected);

        $.ajax({
            url: "@Url.Action("ViewPaymentListByBeneficiary2", "Payments")",
            data: { beneficiarySelected: selected },
            type: "GET",
            dataType: "html",
            success: function (data) {
                console.log("successful!");
                $('#paymentsContainer').html(data);
                window.location.href = data;
            },
            error: function (response) {
                console.log("error!");
                console.log(response);
            }

        });
            }

    function checkBeneficiary() {
        $("#SelectedBeneficiary").change(function (event) {
            var beneficiaryID = $(this).val();
            $.ajax({
                url: "@Url.Action("ViewPaymentListByBeneficiary", "Payments")",
                data: { id: beneficiaryID },
                type: "Get",
                dataType: "html",
                success: function (data) {
                    window.location.href = data;
                },
                error: function (response) {
                    console.log(response);
                }
            });
        })
    }
</script>