<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HMS </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_Navigation")
    <style>
        .title {
            position: relative;
            left: 20px;
        }

        .body-content {
            position: relative;
            left: 40px;
            right: 20px;
        }

        .row {
            position: relative;
            right: 25px;
            padding-right: 25px;
        }

        h1,h2,h4{
            position:relative;
            left: 20px;
        }
    </style>
    <br />
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
